{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Realizar Transferencia</h1>
        
        {% bootstrap_messages %}
        
        <form method="post" action="{% url 'movimientos:transferencia' %}">
            {% csrf_token %}

            {% bootstrap_form form %}
                
            <button type="submit" class="btn btn-primary w-100">Transferir</button>
        </form>
    </div>
{% endblock %}
