{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Realizar Transferencia</h1>
        
        {% if messages %}
            <div class="alert alert-info">
                <ul class="mb-0">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <form method="post" action="{% url 'movimientos:transferencia' %}">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="cuenta_asociada_id" class="form-label">Selecciona la cuenta destino:</label>
                <div class="input-group">
                    {{ form.cuenta_asociada_id }}
                </div>
            </div>
            
            <div class="mb-3">
                <label for="transferencia_motivo_id" class="form-label">Selecciona el motivo de la transferencia:</label>
                <div class="input-group">
                    {{ form.transferencia_motivo }} <!-- Renderiza el campo con el widget RadioSelectButtonGroup -->
                </div>
            </div>
            
            <div class="mb-3">
                <label for="monto" class="form-label">Monto:</label>
                <div class="input-group">
                    {{ form.monto }} <!-- Renderiza el campo 'monto' del formulario -->
                </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary w-100">Transferir</button>
        </form>
    </div>
{% endblock %}
