
    {% if movimientos %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle"> 
        <thead class="table-dark">
            <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Cuenta Vinculada</th>
                <th class="text-center">Motivo Transferencia</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
            <tr>
                <td class="text-center text-nowrap">{{ movimiento.fecha|date:"d/m/Y H:i" }}</td>
                <td>{{ movimiento.get_tipo_display }}</td>
                <td class="text-end {% if movimiento.get_tipo_display == 'Transferencia enviada' %}text-danger{% endif %}">
                    {% if movimiento.get_tipo_display == 'Transferencia enviada' %} - {% endif %}{{ movimiento.monto }}
                </td>
                <td class="text-center">
                    {% if movimiento.cuenta_asociada %}
                        {{ movimiento.cuenta_asociada.username }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if movimiento.transferencia_motivo %}
                        {{ movimiento.transferencia_motivo }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="mb-0 fst-italic text-secondary fw-bold">Sin historial.</p>
    {% endif %}
</div>

