{% load static %}
<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-xl">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'assets/images/logo.png' %}" alt="Logo Money Share">
        Money Share
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-md-center">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">
            <i class="fa-solid fa-user-plus me-2"></i>Registrate
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">
            <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Ingresar
          </a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="fa-solid fa-gear"></div> Administración
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="#">
                  <i class="fa-solid fa-users me-2"></i>Usuarios
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'transferencia_motivo:list' %}">
                  <i class="fa-solid fa-right-left me-2"></i>Motivos de Transferencia
                </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex flex-row align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.avatar %}
              <span class="avatar" style="background-image: url({{ user.avatar.url }})"></span>
            {% else %}
              <span class="avatar" style="background-image: url({% static 'assets/images/user.svg' %})"></span>
            {% endif %}
            {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="{% url 'profile' %}">
                  <i class="fa-regular fa-id-card me-2"></i>Perfil
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form action="{% url 'logout' %}" method="post" class="d-grid">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link text-start text-decoration-none text-reset px-3">
                    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Salir
                  </button>
                </form>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>