{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Money Share | {% block title %}{% endblock %}</title>
    
    {% bootstrap_css %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css"  rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
    {% block page_css %}{% endblock %}
</head>
<body>
    <header>
        {% include '_navbar.html' %}
    </header>
    <main id="main" class="container-xl pt-3 pb-5">
    {% block content %}
        
    {% endblock %}
    </main>
    <footer>
        {% include '_footer.html' %}
    </footer>
    {% bootstrap_javascript %}
    {% block page_js %}{% endblock %}
</body>
</html>