{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Money Share | {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/images/logo.png' %}" />
    {% bootstrap_css %}
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
    {% block page_css %}{% endblock %}
</head>
<body>
    <header>
        {% include '_navbar.html' %}
    </header>
    <main id="main" class="container-xl pt-3 pb-5">
    {% block content %}
        
    {% endblock %}
    </main>
    <footer>
        {% include '_footer.html' %}
    </footer>
    {% bootstrap_javascript %}
    <script defer src="{% static 'js/fontawesome/brands.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/solid.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/regular.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block page_js %}{% endblock %}
</body>
</html>