{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center fst-italic my-5 money-color">
       <i class="fa-solid fa-money-bill-transfer me-2"></i>"Envía y recibe dinero en segundos."
    </h1>
    <div class="d-flex flex-column flex-lg-row gap-5 align-items-md-center justify-content-md-center mb-5">
        <p class="fs-4 mb-0">
            "Con Money Share, transferir dinero es fácil, rápido y seguro.<br>
            Perfecto para tus necesidades personales y empresariales."
        </p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg text-nowrap">
            <div class="fa-solid fa-user-plus me-2"></div><br>
            Regístrate
        </a>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-center my-5 lead">
        <ul class="list-unstyled mb-0">
            <li><i class="fa-regular fa-circle-check me-3 fa-lg money-color"></i>Rápido: Transferencias instantáneas en cualquier momento.</li>
            <li><i class="fa-regular fa-circle-check me-3 fa-lg money-color"></i>Seguro: Protección de datos con cifrado de última generación.</li>
            <li><i class="fa-regular fa-circle-check me-3 fa-lg money-color"></i>Fácil de usar: Plataforma intuitiva para todos los niveles.</li>
            <li><i class="fa-regular fa-circle-check me-3 fa-lg money-color"></i>Transparente: Sin costos ocultos ni sorpresas desagradables.</li>
        </ul>
    </div>
    
    <div class="text-center fs-1 fst-italic">¡Gracias por elegir Money Share!</div>
{% endblock %}