{% extends 'base.html' %}
{% block content %}
<h1>Lista de Motivos de Transferencia</h1>
{% if messages %}
  <div class="alert-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<a class ="btn btn-primary" href="{% url 'transferencia_motivo:create' %}">Nuevo Motivo</a>
<br /><br />
<ul class="list-group">
    {% for motivo in motivos %}
        <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
            <div>
            {{ motivo.descripcion }} 
        </div> 
        <div>
            <a class="btn btn-link text-decoration-none" href="{% url 'transferencia_motivo:update' motivo.id %}"><ico class="ri-pencil-line ri-lg"></a> | 
            <a class="btn btn-link text-decoration-none" href="{% url 'transferencia_motivo:delete' motivo.id %}"><ico class="ri-delete-bin-line ri-lg"></a>
            </div>
            </li>
    {% endfor %}
</ul>
{% endblock %}
