{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Panel{% endblock %}
{% block content %}
    <h1 class="h2"><i class="fa-regular fa-user fa-xs me-2"></i>Benvenido <span class="text-info">{{ user.username }}</span>!!!</h1>
    {% bootstrap_messages %}
    <section class="d-flex flex-column flex-md-row gap-4 align-items-center justify-content-center p-3 mb-3 fs-2">
        <div class="d-inline-block bg-body-tertiary py-3 px-4 rounded-3">
            <span class="visually-hidden">Su saldo:</span>
            <i class="fa-solid fa-sack-dollar me-1 text-warning"></i>
            <i class="fa-solid fa-dollar-sign me-2"></i>{{ user.saldo }}
        </div>
        <ul class="list-inline d-flex flex-row gap-2 mb-0">
            <li class="list-inline-item">
                <a href="{% url 'movimientos:ingreso_dinero' %}" class="btn btn-success border-2" data-bs-toggle="tooltip" data-bs-title="Ingrese dinero">
                    <i class="fa-solid fa-plus fa-lg"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'movimientos:transferencia' %}" class="btn btn-success primary border-2" data-bs-toggle="tooltip" data-bs-title="Envíe dinero">
                    <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                </a>
            </li>
        </ul>
    </section>
    <section id="favoritos" class="mb-4">
        <h2 class="h3"><i class="fa-regular fa-star fa-xs me-2"></i>Favoritos</h2>
        <div class="px-3">
            {% include 'movimientos/cuentas_favoritas.html' %}
        </div>
    </section>
    <section id="historial">
        <h2 class="h3"><i class="fa-regular fa-file-lines fa-xs me-2"></i>Historial</h2>
        <div class="px-3">
            {% include 'movimientos/ultimos_movimientos.html' %}
            <div class="text-end">
                <a href="{% url 'movimientos:historial' %}" class="fw-bold text-decoration-none">Ver todo ...</a>
            </div>
        </div>
    </section>
{% endblock %}