{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Mi Perfil{% endblock %}

{% block content %}
<h1><i class="fa-solid fa-user-pen fa-xs me-2"></i>Mi Perfil</h1>
{% bootstrap_messages %}
<form method="post" enctype="multipart/form-data" class="border border-secondary rounded p-3">
  {% csrf_token %}
  {% bootstrap_field form.username %}
  {% bootstrap_field form.email %}
  <div class="row">
    <div class="col-lg-6">{% bootstrap_field form.first_name %}</div>
    <div class="col-lg-6">{% bootstrap_field form.last_name %}</div>
  </div>
  {% bootstrap_field form.avatar %}
  <div class="text-end">
    {% bootstrap_button button_type="submit" content="Guardar" %}
  </div>
</form>
{% endblock %}